@{
    ViewBag.Title = "Home Page";
}



<div class="container">
    <div class="row">
        <div class="row">
            <h3 class="pull-left" style="margin-left: 30px">Projects</h3>
            <i  class="fa fa-plus fontbutton-style" style="padding: 5px 6px 3px 6px; margin: 20px 5px 5px 10px;"></i>
            

            <div class="form-group pull-right search-bar" style="margin-top: 30px; margin-right: 230px;" id="searchTextOnPage">
                <form role="search" style="display: flex;">
                    <input type="text" class="form-control search-bar" style="border: 0px; box-shadow: 0 0 0" placeholder="Search">
                    <span>
                        <button type="submit" class="search-page-btn">
                            <span class="icon-search navSearchIcon search-span-icon"></span>
                        </button>
                    </span>
                </form>
            </div>
        </div>

        <div>
            <label class="short-info" style="margin-left: 25px;">Sort by:</label>
            
            <!--  <form action="doss" style="display: initial">
                <select name="sortParam" class="sort-sel-set select option">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="fiat">Fiat</option>
                    <option value="audi">Audi</option>
                </select>
            </form>  -->

            <div class="dropdown" style="display: inline">
                <form style="display:inline">
                    <button class="dropdown-toggle bootrap-btndrop-modif" type="submit" data-toggle="dropdown">
                        Title
                        <span class="caret" style="border-top-color: #92c1ba"></span>
                    </button>
                    <ul class="dropdown-menu bootrap-dropdown-ul-modif">
                        <li><a href="#">Title</a></li>
                        <li><a href="#">Status</a></li>
                        <li><a href="#">Priority</a></li>
                        <li><a href="#">Assignee</a></li>
                    </ul>
                </form>
            </div>
        </div>

        <div class="row" style="margin: 15px">
            <div class="shadow-div shadow-div-sm col-md-4">
                <h4 class="h4-zero-topmargin"> The Financier</h4>
                <p class="prefix-style">TDF</p>
                <div class="row">
                    <p class="pull-right p i, label zero-merg p label">
                        <i class="fa fa-edit"></i> <label>127</label>
                        <i class="fa fa-users"></i> <label>6</label>
                    </p>
                </div>
            </div>
            <div class="shadow-div shadow-div-sm col-md-4">
                <h4 class="h4-zero-topmargin"> The Financier</h4>
                <p class="prefix-style">TDF</p>
                <div class="row">
                    <p class="pull-right p i, label zero-merg p label">
                        <i class="fa fa-edit"></i> <label>127</label>
                        <i class="fa fa-users"></i> <label>6</label>
                    </p>
                </div>
            </div>
            <div class="shadow-div shadow-div-sm col-md-4">
                <h4 class="h4-zero-topmargin"> The Financier</h4>
                <p class="prefix-style">TDF</p>
                <div class="row">
                    <p class="pull-right p i, label zero-merg p label">
                        <i class="fa fa-edit"></i> <label>127</label>
                        <i class="fa fa-users"></i> <label>6</label>
                    </p>
                </div>
            </div>
            <div class="shadow-div shadow-div-sm col-md-4">
                <h4 class="h4-zero-topmargin"> The Financier</h4>
                <p class="prefix-style">TDF</p>
                <div class="row">
                    <p class="pull-right p i, label zero-merg p label">
                        <i class="fa fa-edit"></i> <label>127</label>
                        <i class="fa fa-users"></i> <label>6</label>
                    </p>
                </div>
            </div>
            <div class="shadow-div shadow-div-sm col-md-4">
                <h4 class="h4-zero-topmargin"> The Financier</h4>
                <p class="prefix-style">TDF</p>
                <div class="row">
                    <p class="pull-right p i, label zero-merg p label">
                        <i class="fa fa-edit"></i> <label>127</label>
                        <i class="fa fa-users"></i> <label>6</label>
                    </p>
                </div>
            </div>
            <div class="shadow-div shadow-div-sm col-md-4">
                <h4 class="h4-zero-topmargin"> The Financier</h4>
                <p class="prefix-style">TDF</p>
                <div class="row">
                    <p class="pull-right p i, label zero-merg p label">
                        <i class="fa fa-edit"></i> <label>127</label>
                        <i class="fa fa-users"></i> <label>6</label>
                    </p>
                </div>
            </div>
            <div class="shadow-div shadow-div-sm col-md-4">
                <h4 class="h4-zero-topmargin"> The Financier</h4>
                <p class="prefix-style">TDF</p>
                <div class="row">
                    <p class="pull-right p i, label zero-merg p label">
                        <i class="fa fa-edit"></i> <label>127</label>
                        <i class="fa fa-users"></i> <label>6</label>
                    </p>
                </div>
            </div>
            <div class="shadow-div shadow-div-sm col-md-4">
                <h4 class="h4-zero-topmargin"> The Financier</h4>
                <p class="prefix-style">TDF</p>
                <div class="row">
                    <p class="pull-right p i, label zero-merg p label">
                        <i class="fa fa-edit"></i> <label>127</label>
                        <i class="fa fa-users"></i> <label>6</label>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <p class="pull-left p i, label zero-merg p label" style="margin-left: 30px">
                <i class="fa fa-th-list"></i> <label style="margin-right: 2px">Projects:</label> <label>35</label>
            </p>
        </div>

    </div>
</div>

