<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="AzureHW4Storage" value="DefaultEndpointsProtocol=https;AccountName=homework4storage;AccountKey=x2GsE2MjZ0aEZPxIE4qlhMirOxpQM3E1/AaN++QkJYXwDNIXvVuUC/aBdtO+AkML2zBz3xL74IllpGuMB+PVyA==" />
  </appSettings>
</configuration>