::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgb(182, 201, 204);
    border-left: 1px solid #A3C2C6;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(152, 178, 181);
}
::-webkit-scrollbar-thumb:hover {
    background-color: #3D767D;
}

html {
  height: 100%;
}

* {
    border: none !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

body {
    margin: 0;
    padding: 0;
  min-height: 100%;
  background-color: #4D868D;
}
#loginForm{
    margin: 0px auto;
}

.rgb(248, 254, 254) {
    color:rgb(248, 254, 254);
}

.backColor {
    background-color: #A3C2C6;
}

#parent {
    position:fixed;
   display: table;
   width: 100%;
   height: 100%;
   margin-top: -15px;
}
#centerForm {
    height:100%;
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}

.Input {
    margin:10px auto 0px auto;
    vertical-align: middle;
}

.login-form {
    padding-top: 0;
}


::-webkit-input-placeholder {
    font-size: 11px;
    color:rgb(248, 254, 254) !important;

}
::-moz-placeholder          {
    font-size: 11px;
    color:rgb(248, 254, 254) !important;

}
:-moz-placeholder           {
    font-size: 11px;
    color:rgb(248, 254, 254) !important;

}
:-ms-input-placeholder      {
    font-size: 11px;
    color:rgb(248, 254, 254) !important;

}

ul {
    padding: 0;
}

li {
    display: inline;
    text-align: center;
}

.icon-biglogo1 {
    color: rgb(248, 254, 254);
    font-size: 200px;
    margin-top: 40px;
    text-align: center;
    height: 160px;
    margin-top: -370px; 
}

.textLogo {
    margin-top: -45px;
    text-align: center;
    color: rgb(248, 254, 254);
}

.row {
    margin-top: -15px;
}

.form-control {
    color: rgb(248, 254, 254);
    font-size: 11px;
    vertical-align: central;
    align-items: center;
    margin: 7px auto;
    height: 38px;
    width: 370px;
    max-width:400px;
}

.form-group {
    margin-bottom: 0;
}

.color2 {
    color: #A3C2C6;
}


.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    float:none;
    color: rgb(248, 254, 254);
    background: #A3C2C6;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    width: 200px;
    height: 40px;
    color: #E3F0F2;
    background-color: #A3C2C6; 
}

.radio label, .checkbox label:hover {
    color:rgb(248, 254, 254);
    text-decoration: underline;
}
.rightText {
    margin-left: +140px;
}

a:hover {
    color:rgb(248, 254, 254);
}

.text-danger {
    display: block;
    height: 10px;
    color: rgb(220, 165, 148);
    line-height: 1;
}

.text-danger  .validation-summary-errors{
    display: block;
    height: 10px;
}

.text-danger > ul {
    list-style: none;
    margin: 0px;
}

.field-validation-error{
     color: rgb(220, 165, 148);
     
     
}

#fgtPswrdText{
    margin-top:10px;
    margin-bottom: 15px;
    padding-top: 0px;
    color: white;
}

.fgtPswdSubmit{
    margin-top: 16px !important;
    color: #4D868D  !important;
    background-color: rgb(227, 240, 242)  !important;
    width: 175px  !important;
}

.LoginLink {
    text-decoration: underline  !important;
    line-height: 40px  !important;
}

.psswrd {
    margin-top: 15px;
}
.dwnpsswrd{
    margin-top: 24px;
}

/*@media (max-width: 768){
    .icon-biglogo1{
        display: none;
        width :100px;
        top: 20%;
    }
}*/