@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="col">
                <div style="margin: 0px 0px 40px 0px">
                    <h3 style="margin: 20px 0px 40px 0px">My Project</h3>
                </div>
                <div class ="shadow-div">
                    <h4 class="h4-zero-topmargin"> The Financier</h4>
                    <p class="prefix-style">TDF</p>
                    <div class="row">
                        <p class="pull-right p i, label zero-merg p label">
                            <i class="fa fa-edit"></i> <label>127</label>
                            <i class="fa fa-users"></i> <label>6</label>
                        </p>
                    </div>
                </div>
                <div class="shadow-div">
                    <h4 class="h4-zero-topmargin"> The Titan</h4>
                    <p class="prefix-style">DDT</p>
                    <div class="row">
                        <p class="pull-right p i, label zero-merg p label">
                            <i class="fa fa-edit"></i> <label>127</label>
                            <i class="fa fa-users"></i> <label>6</label>
                        </p>
                    </div>
                </div>
                <div class="shadow-div">
                    <h4 class="h4-zero-topmargin"> The Stoic</h4>
                    <p class="prefix-style">TDS</p>
                    <div class="row">
                        <p class="pull-right p i, label zero-merg p label">
                            <i class="fa fa-edit"></i> <label>127</label>
                            <i class="fa fa-users"></i> <label>6</label>
                        </p>
                    </div>
                </div>
                <a href="url" class="a-links">Show all</a> <i class="fa fa-long-arrow-right" style="color: #4D868D; font-size: 75%"></i>
            </div>
        </div>
        <div class="col-md-8">
            <div class="col">
                <div style="margin: 0px 0px 40px 0px">
                    <h3 style="margin: 20px 0px 40px 0px">Assigned To Me</h3>
                </div>
                <div class="shadow-div">
                    <div class="bugs-div ">
                        <img src="~/Content/Priority_img/major_prior.png" />
                        <div style="display:inline-block; vertical-align: middle">
                            <label class="zero-merg inner-bugs-label">TDF-123</label> <label class="bug-status-in zero-merg">In progress</label>
                            <p class="bugs-descrip zero-merg">The error message is displayed after tapping on the 'Get Link' button on the volume's 'information' screen</p>
                        </div>
                    </div>
                    <div class="bugs-div">
                        <img src="~/Content/Priority_img/minor_prior.png" />
                        <div style="display:inline-block; vertical-align: middle">
                            <label class="zero-merg inner-bugs-label">TDF-123</label> <label class="bug-status-todo zero-merg">To do</label>
                            <p class="bugs-descrip zero-merg">The error message is displayed after tapping on the 'Get Link' button on the volume's 'information' screen</p>
                        </div>
                    </div>
                    <div class="bugs-div">
                        <img src="~/Content/Priority_img/exclamation_prior.png" />
                        <div style="display:inline-block; vertical-align: middle">
                            <label class="zero-merg inner-bugs-label">TDF-123</label> <label class="bug-status-in zero-merg">In testing</label>
                            <p class="bugs-descrip zero-merg">The error message is displayed after tapping on the 'Get Link' button on the volume's 'information' screen</p>
                        </div>
                    </div>
                    <div class="bugs-div">
                        <img src="~/Content/Priority_img/critical_prior.png" />
                        <div style="display:inline-block; vertical-align: middle">
                            <label class="zero-merg inner-bugs-label">TDF-123</label> <label class="bug-status-done_close zero-merg">Done</label>
                            <p class="bugs-descrip zero-merg">The error message is displayed after tapping on the 'Get Link' button on the volume's 'information' screen</p>
                        </div>
                    </div>
                    <div class="bugs-div">
                        <img src="~/Content/Priority_img/major_prior.png" />
                        <div style="display:inline-block; vertical-align: middle">
                            <label class="zero-merg inner-bugs-label">TDF-123</label> <label class="bug-status-done_close zero-merg">Close</label>
                            <p class="bugs-descrip zero-merg">The error message is displayed after tapping on the 'Get Link' button on the volume's 'information' screen</p>
                        </div>
                    </div>
                    <div class="bugs-div">
                        <img src="~/Content/Priority_img/major_prior.png" />
                        <div style="display:inline-block; vertical-align: middle">
                            <label class="zero-merg inner-bugs-label">TDF-123</label> <label class="bug-status-in zero-merg">In progress</label>
                            <p class="bugs-descrip zero-merg">The error message is displayed after tapping on the 'Get Link' button on the volume's 'information' screen</p>
                        </div>
                    </div>
                    <div class="bugs-div" style="border-bottom:hidden">
                        <img src="~/Content/Priority_img/major_prior.png" />
                        <div style="display:inline-block; vertical-align: middle">
                            <label class="zero-merg inner-bugs-label">TDF-123</label> <label class="bug-status-in zero-merg">In progress</label>
                            <p class="bugs-descrip zero-merg">The error message is displayed after tapping on the 'Get Link' button on the volume's 'information' screen</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="pull-left short-info">
                        <i class="fa fa-edit" style="font-size: 150%"></i> <label>All my tasks: 41</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>