@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="col">
                <div style="margin: 0px 0px 40px 0px">
                    <h3 style="margin: 20px 0px 40px 0px">My Profile</h3>
                </div>
                <div class="shadow-div">
                    <img src="~/Content/img/ava1.jpg" class="profile-av"/>
                    <div style="display:inline-block; vertical-align: middle;">
                        <p class="zero-merg">George</p>
                        <p class="zero-merg">Orwell</p>
                    </div>

                    <div class="profile-desc">
                        <label>Email</label>
                        <p>george-orewell@@email.com</p>
                    </div>

                    <div class="profile-desc">
                        <label>Role</label>
                        <p>Common User</p>
                    </div>

                </div>

                <div style="margin-left: 175px">
                    <a href="url"> <i class="fa fa-key fontbutton-style"></i> </a>
                    <a href="url"> <i class="fa fa-pencil fontbutton-style"></i> </a>
                </div>



                <h3 style="margin-top: 20px; margin-bottom: 20px" >
                    My Projects
                </h3>

                <div class="shadow-div">
                    <ul class="a-links" style="padding: 5px 0px 0px 5px">
                        <li><a href="url">The Financier</a></li>
                        <li><a href="url">The Titan</a></li>
                        <li><a href="url">The Stoic</a></li>
                        <li><a href="url">The I, robot</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-md-8">
            <div class="col">
                <div style="margin: 0px 0px 40px 0px">
                    <h3 style="margin: 20px 0px 40px 0px">Assigned To Me</h3>
                </div>
                <div class="shadow-div">
                    <div class="bugs-div ">
                        <img src="~/Content/Priority_img/major_prior.png" />
                        <div style="display:inline-block; vertical-align: middle">
                            <label class="zero-merg inner-bugs-label">TDF-123</label> <label class="bug-status-in zero-merg">In progress</label>
                            <p class="bugs-descrip zero-merg">The error message is displayed after tapping on the 'Get Link' button on the volume's 'information' screen</p>
                        </div>
                    </div>
                    <div class="bugs-div">
                        <img src="~/Content/Priority_img/minor_prior.png" />
                        <div style="display:inline-block; vertical-align: middle">
                            <label class="zero-merg inner-bugs-label">TDF-123</label> <label class="bug-status-todo zero-merg">To do</label>
                            <p class="bugs-descrip zero-merg">The error message is displayed after tapping on the 'Get Link' button on the volume's 'information' screen</p>
                        </div>
                    </div>
                    <div class="bugs-div">
                        <img src="~/Content/Priority_img/exclamation_prior.png" />
                        <div style="display:inline-block; vertical-align: middle">
                            <label class="zero-merg inner-bugs-label">TDF-123</label> <label class="bug-status-in zero-merg">In testing</label>
                            <p class="bugs-descrip zero-merg">The error message is displayed after tapping on the 'Get Link' button on the volume's 'information' screen</p>
                        </div>
                    </div>
                    <div class="bugs-div">
                        <img src="~/Content/Priority_img/critical_prior.png" />
                        <div style="display:inline-block; vertical-align: middle">
                            <label class="zero-merg inner-bugs-label">TDF-123</label> <label class="bug-status-done_close zero-merg">Done</label>
                            <p class="bugs-descrip zero-merg">The error message is displayed after tapping on the 'Get Link' button on the volume's 'information' screen</p>
                        </div>
                    </div>
                    <div class="bugs-div">
                        <img src="~/Content/Priority_img/major_prior.png" />
                        <div style="display:inline-block; vertical-align: middle">
                            <label class="zero-merg inner-bugs-label">TDF-123</label> <label class="bug-status-done_close zero-merg">Close</label>
                            <p class="bugs-descrip zero-merg">The error message is displayed after tapping on the 'Get Link' button on the volume's 'information' screen</p>
                        </div>
                    </div>
                    <div class="bugs-div">
                        <img src="~/Content/Priority_img/major_prior.png" />
                        <div style="display:inline-block; vertical-align: middle">
                            <label class="zero-merg inner-bugs-label">TDF-123</label> <label class="bug-status-in zero-merg">In progress</label>
                            <p class="bugs-descrip zero-merg">The error message is displayed after tapping on the 'Get Link' button on the volume's 'information' screen</p>
                        </div>
                    </div>
                    <div class="bugs-div" style="border-bottom:hidden">
                        <img src="~/Content/Priority_img/major_prior.png" />
                        <div style="display:inline-block; vertical-align: middle">
                            <label class="zero-merg inner-bugs-label">TDF-123</label> <label class="bug-status-in zero-merg">In progress</label>
                            <p class="bugs-descrip zero-merg">The error message is displayed after tapping on the 'Get Link' button on the volume's 'information' screen</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="pull-left short-info">
                        <i class="fa fa-edit" style="font-size: 150%"></i> <label>All my tasks: 41</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
