@{
    ViewBag.Title = "Home Page";
}

<head>
    <style>
        .shadow-div {
                margin: 10px 20px 10px 0px;
                max-width: 300px;
        }
    </style>
</head>



<div class="container">
    <div class="row">
        <h3 class="pull-left">Projects</h3>
        <a href="url"> <i class="fa fa-plus fontbutton-style" style="padding: 5px 6px 3px 6px; margin: 20px 5px 5px 10px;"></i> </a>

        <form class="navbar-form hidden-sm" role="search">
            <div class="form-group" id="searchText">
                <input type="text" class="form-control search-bar" placeholder="Search">
            </div>
            <img src="~/Content/img/search_icon.png" class="navSearchIcon"" />
        </form>

        <div>
            <label class="pull-left short-info">Sort by:</label>
        </div>

        <div class="row" style="margin: 15px">
            <div class="shadow-div col-md-4">
                <h4 class="h4-zero-topmargin"> The Financier</h4>
                <p class="prefix-style">TDF</p>
                <div class="row">
                    <p class="pull-right p i, label zero-merg p label">
                        <i class="fa fa-edit"></i> <label>127</label>
                        <i class="fa fa-users"></i> <label>6</label>
                    </p>
                </div>
            </div>
            <div class="shadow-div col-md-4">
                <h4 class="h4-zero-topmargin"> The Financier</h4>
                <p class="prefix-style">TDF</p>
                <div class="row">
                    <p class="pull-right p i, label zero-merg p label">
                        <i class="fa fa-edit"></i> <label>127</label>
                        <i class="fa fa-users"></i> <label>6</label>
                    </p>
                </div>
            </div>
            <div class="shadow-div col-md-4">
                <h4 class="h4-zero-topmargin"> The Financier</h4>
                <p class="prefix-style">TDF</p>
                <div class="row">
                    <p class="pull-right p i, label zero-merg p label">
                        <i class="fa fa-edit"></i> <label>127</label>
                        <i class="fa fa-users"></i> <label>6</label>
                    </p>
                </div>
            </div>
            <div class="shadow-div col-md-4">
                <h4 class="h4-zero-topmargin"> The Financier</h4>
                <p class="prefix-style">TDF</p>
                <div class="row">
                    <p class="pull-right p i, label zero-merg p label">
                        <i class="fa fa-edit"></i> <label>127</label>
                        <i class="fa fa-users"></i> <label>6</label>
                    </p>
                </div>
            </div>
            <div class="shadow-div col-md-4">
                <h4 class="h4-zero-topmargin"> The Financier</h4>
                <p class="prefix-style">TDF</p>
                <div class="row">
                    <p class="pull-right p i, label zero-merg p label">
                        <i class="fa fa-edit"></i> <label>127</label>
                        <i class="fa fa-users"></i> <label>6</label>
                    </p>
                </div>
            </div>
            <div class="shadow-div col-md-4">
                <h4 class="h4-zero-topmargin"> The Financier</h4>
                <p class="prefix-style">TDF</p>
                <div class="row">
                    <p class="pull-right p i, label zero-merg p label">
                        <i class="fa fa-edit"></i> <label>127</label>
                        <i class="fa fa-users"></i> <label>6</label>
                    </p>
                </div>
            </div>
            <div class="shadow-div col-md-4">
                <h4 class="h4-zero-topmargin"> The Financier</h4>
                <p class="prefix-style">TDF</p>
                <div class="row">
                    <p class="pull-right p i, label zero-merg p label">
                        <i class="fa fa-edit"></i> <label>127</label>
                        <i class="fa fa-users"></i> <label>6</label>
                    </p>
                </div>
            </div>
            <div class="shadow-div col-md-4">
                <h4 class="h4-zero-topmargin"> The Financier</h4>
                <p class="prefix-style">TDF</p>
                <div class="row">
                    <p class="pull-right p i, label zero-merg p label">
                        <i class="fa fa-edit"></i> <label>127</label>
                        <i class="fa fa-users"></i> <label>6</label>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
