body {
    background-color: #F8FEFE;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.navbar.navbar-inverse.navbar-fixed-top {
    min-height: 40px;
}
.navbar-inverse{
    background-color: #4D868D;
    border: none;
    
}

#bs-example-navbar-collapse-1{
    padding-right: 0px;
    padding-left: 0px;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
}

.divClass {
    height: 40px;
}

.navbar-toggle{
    margin-top: 3px;
    margin-bottom: 0px;
}

.navbar-inverse .navbar-header > li > a {
    color: #FFF;
    height: 40px;
    padding: 10px 10px 0px 11px;
    margin: 0px 4px 0px 4px;
}

.navProfile{
    margin: 0px 15px 0px 15px !important;
    padding: 5px 0px 5px 0px !important;
    min-height: 40px;
}

.navTextH {
    padding: 0px;
    margin: 0px;
    height: 40px;
    color: white;
}

.navHL:hover{
    background-color : #92C1BA!important;
}


.navButton {
    margin: 5px 25px 0px 15px;
    padding: 3px 10px 3px 10px;
    border: 0;
    background-color: #92C1BA;
    color: #FFF;
    height: 30px;
}

.navButton:hover {
    color: #333
}

.navLogo {
    margin: 0px 25px 0px 0px;
    padding: 5px 0px 5px 0px;
}

.navSearchIcon{
    margin: 4px 0px 0px 5px;
    padding: 0px 0px 0px 0px;
}

.navSearchIcon{
    cursor: pointer;

}

.navLogo:hover {
    cursor: pointer;
    /*background-color: #92C1BA;*/
}

.navbar {
    margin: 0;
}

.form-control{
    height: 23px;
    min-height: 23px;
    margin-top: 0px;
    padding-top: 7px;
    border: 0px;
    max-width: 150px;
    background-color: transparent;
    color: white;
}

.form-control:focus {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  outline: none;
  border: none;
  box-shadow: none;
}


.navbar-form{
    border: 0px;
    padding-top: 5px;
    margin: 5px 5px;
    padding: 4px 4px;
}

.navbar-left{
    margin-right: 10px;
}

#avatar{
    margin: 0px 0px 0px 0px !important;
    padding: 0px !important;
    width: 31px;
    height: 31px;
    width: 30px;
	height: 30px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	/*background: url(http://link-to-your/image.jpg) no-repeat;*/
	box-shadow: 0 0 5px #92C1BA;
	-webkit-box-shadow: 0 0 5px #92C1BA;
	-moz-box-shadow: 0 0 5px #92C1BA;
}

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon/icomoon.eot?cy2rhz');
    src:    url('../fonts/icomoon/icomoon.eot?cy2rhz#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf?cy2rhz') format('truetype'),
        url('../fonts/icomoon/icomoon.woff?cy2rhz') format('woff'),
        url('../fonts/icomoon/icomoon.svg?cy2rhz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 0;

    -webkit-font-smoothing: antialiased;
    /*-moz-osx-font-smoothing: grayscale;*/
}

.icon-search:before {
    content: "\e900";
}
.icon-arrow1:before {
    content: "\e901";
}
.icon-plus:before {
    content: "\ea0a";
}
.icon-arrow1{
    position:relative;
    left:+110px;
    top:-12px;
    color: #92C1BA;
}

.icon-plus {
    position: relative;
    top: +1px;
}


.dropdownProfile{
    position:relative;

    margin: 0px;
    /*margin-right: 35px;*/
    min-height:0px;
    height: 0px;
    width:100%+35px;
    
    /*padding-right: 15px;*/
    display:none;
}

.dropdownProfile ul {
    position: absolute;
    width:100%;
    list-style: none;
    cursor: pointer;
    padding-left: 0px;
    max-width: 200px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, .2); 
}

.dropdownProfile ul li{
    
    display:block;
    background: #92C1BA;
    padding: 12px 14px;
    color:white;
    /*height:100px;*/
    overflow: auto;
}


.dropdownProfile ul li:hover{
    background-color: #87B8B1;
}

.navbar-form {
    padding: 2px;
}

.rightText{
    margin-right: 15px;
}

::-webkit-input-placeholder {color:white !important;}
::-moz-placeholder          {color:white !important;}
:-moz-placeholder           {color:white !important;}
:-ms-input-placeholder      {color:white !important;}

.navbar-toggle{
    margin: 3px;
}

.navbar-collapse{
    border: 0px;
    border: none !important;
}

@media (min-width: 992px) {
    .rightM{
        margin-right: 50px!important;
    }
    .leftM{
        margin-left: 35px!important;
    }
}