<link href="~/Content/popup.css" rel="stylesheet" />

<div id="createUserPopup" class="table-responsive">

    <div class="row">
        <div class="col-xs-12">
            @Html.TextBox("Title", null, "", htmlAttributes: new { @class = "form-control popup-field", placeholder = "Title" })
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3">
            @Html.TextBox("Key", null, "", htmlAttributes: new { @class = "form-control popup-field", placeholder = "Key" })
        </div>
        <div class="col-xs-9">
            <p class="popup-label">A few letters for decription of project</p>
        </div>
    </div>

</div>


<script type="text/javascript">
    

    $(document).ready(

        function showPopup() {
            $("#createUserPopup").css({ 'display': "visible" });
            $("#createUserPopup").dialog({
                width: 600,
                fluid: true,
                title: "Create new project",
                modal: true,
                resizable: false,
                buttons: [
            {
                text: "Create",
                "class": 'popup-button',
                click: function () {
                    $(this).dialog("close");
                }
            },
                ],
                close: function () {
                }
            });
            $("*").trigger('blur');
        }


        );
</script>

<style>
    .ui-widget-header:before {
        margin-left: 1em;
        content: "\f00b";
        font-family: FontAwesome;
        left: -1px;
        position: absolute;
        top: 15px;
        color: rgb(248, 254, 254);
        font-size: 16px;
        font-weight: 100;
    }
</style>